footer {
    position : absolute;
    top: 1200px;
    width: 100%;

}

footer p{
    color: white;
}

.text-center{
    margin: auto;
    color: white;
}

.diferencial_h1{/*CSS Ruann*/
    color: gray;
}


#login {
    position: absolute;
    background-image: url('back.gif');
    background-size: cover;
    margin: 10px;
    top: 10%;
    width: 50%;
    left:  25%;
}

.form-group{
    margin:20px;
}

.form-control{
    position: absolute;
    width: 50%;
}

#inputEmail{
    top: 60%;
    left:  25%;
}

#inputPassword{
    top: 65%;
    left:  25%;
}

#inputRemember{
    position: absolute;
    color: white;
    top: 90%;
}

.container{
    /*position: absolute;*/
    margin-top: 60px;
    margin-bottom: 60px;
    width: 80%;
}

/*#btnEnviaContato{
    top: 80%;       
    width: 50%;
}*/

#btnEntrar{
    position: absolute;
    top: 95%;
}

