footer {
    position : absolute;
    top: 1200px;
    width: 100%;
}

footer p{
    color: white;
    /* position: absolute; */
    align-items: center;
}

.text-center{
    margin: auto;
    color: white;
}

.card-text{/*Modificação -- Ruann */
    text-align: justify;
}

.card:hover{/*Modificação - Ruann*/
    border:20px gray;
}

.form-group{
    margin:20px;
}

.entrada{
    position: absolute;
    left: 25%;
    top: 25%;
}

#login {
    background-image: url('back.gif');
    background-size: cover;
    margin: 10px;
    width: 50%;
}

#inputEmail{
    margin: 10px;
    width: 100%;
}

#inputPassword{
    margin: 10px;
    width: 100%;
}

#inputRemember{
    color: white;
}

#inputEnter{
    position: absolute;
    width: 40%;
    top: 110%;
    right: 30%;
}
#login a{
    color : white;
}

h2{
    position: absolute;
    left: 15%;
}

.formone{
    position: absolute;
    top: 20% ;
    width: 1200px;

}


#btnEnviaContato{
    height: 50px;
    width: 100px;
    position: absolute;
    /* right: 50%; */
    align-content: center;
    top: 100%;
}

.container{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 80%;
}

.Cadastro{
    position: absolute;
    width: 80%;
    top : 50%;
    left: 10%;
    right: 25%;


}