footer {
    position : absolute;
    top: 1200px;
    width: 100%;

}

footer p{
    color: white;
}

.text-center{
    margin: auto;
    color: white;
}

#login {
    background-image: url('back.gif');
    background-size: cover;
    position: absolute;
    top: 25%;
    width: 50%;
    left:  25%;
}

.form-control{
    position: absolute;
    width: 50%;
}

#inputEmail{
    top: 50%;
    left:  25%;
}

#inputPassword{
    top: 65%;
    left:  25%;
}

#inputRemember{
    position: absolute;
    top: 80%;
}

.container{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 60%;
}
/*.btnEnvia{
    position: absolute;
    top: 80%;
}*/